@page
@model EmailModel
@{
    ViewData["Title"] = "Manage Email";
    ViewData["ActivePage"] = ManageNavPages.Email;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="email-form" method="post">
            @if (Model.IsEmailConfirmed)
            {
                <div class="formItem">
                    <label asp-for="Email" class="formLabel"></label>
                    <input asp-for="Email" class="formInput" disabled />
                    <div class="input-group-append">
                        <span class="h-100 input-group-text text-success font-weight-bold">✓</span>
                    </div>
                </div>
            }
            else
            {
                <div class="formItem">
                    <label asp-for="Email" class="formLabel"></label>
                    <input asp-for="Email" class="formInput" disabled />
                    <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="logoutButton">Send verification email.</button>
                </div>
            }
            <div class="formItem">
                <label asp-for="Input.NewEmail" class="formLabel"></label>
                <input asp-for="Input.NewEmail" class="formInput" placeholder="" aria-required="true" />
                <span asp-validation-for="Input.NewEmail" class="text-danger"></span>
            </div>
            <button id="change-email-button" type="submit" asp-page-handler="ChangeEmail" class="w-100">Change email</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
