@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="formItem">
                <label asp-for="Username" class="formLabel"></label>
                <input asp-for="Username" class="formInput" disabled />
            </div>
            <div class="formItem">
                <label asp-for="Input.GivenName" class="formLabel"></label>
                <input asp-for="Input.GivenName" class="formInput" />
            </div>
            <div class="formItem">
                <label asp-for="Input.Surname" class="formLabel"></label>
                <input asp-for="Input.Surname" class="formInput" />
            </div>
            @*<div class="formItem">
                <label asp-for="Input.PhoneNumber" class="formLabel"></label>
                <input asp-for="Input.PhoneNumber" class="formInput" />
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>*@
            <div class="formItem">
                <label asp-for="Input.Birthdate" class="formLabel"></label>
                <input asp-for="Input.Birthdate" class="formInput" />
            </div>
            <button id="update-profile-button" type="submit" class="w-100">Save</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
