<connectionStrings>
  <add name="DefaultConnection" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=aspnet-Penfolio2-8158bcbf-e44a-4a87-a9a8-45650b2b45da;Integrated Security=True;Connect Timeout=30;Encrypt=False;Trust Server Certificate=False;Application Intent=ReadWrite;Multi Subnet Failover=False" providerName="System.Data.SqlClient"/>
</connectionStrings>
