@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>My name is Melissa Calawa, and I created Penfolio to showcase my skills as part of my computer science portfolio. In addition to my degree in computer science, I also have a bachelor&#39;s in English. Since I have domain knowledge in that area, I decided to make a social media network for writers using what I know from my own experience as a writer to put together some of the things that I would like out of a social media network targeted at writers.</p>

<h2>Penfolio&#39s Features</h2>
<div>
    <ul>
        <li>The ability for users to create multiple profiles to represent of all of their different personas.
            <p>Throughout history, there have been many writers who have taken up multiple pen names. For example, Louisa May Alcott, the author of Little Women, may be best known for her children&#39;s literature, but she also wrote gothic literature under the name A. M. Barnard. C.S. Lewis is known for both his fiction and his Christian apologetics, but when he decided to write an extremely personal book about the death of his wife, he used the name N.W. Clark. There are many reasons that authors might not want everything they wrote to be under the same name, so I wanted Penfolio to support this.</p>
            <p>Additionally, users can create literary agent or publisher profiles as well as writer profiles.</p>
        </li>
        <li>
            Complete control over who can and cannot access their writing.
            <p>Did you know that not all publishers will publish writing that has previously been available for free online—even if you agree to remove it when it&#39s published? However, a lot of writers rely on contract work, which often means that people want to see a portfolio of your work. Penfolio seeks to resolve this dilemma in a couple different ways. Whether it&#39s your profile or your writing, each user has complete control over who gets to access what they have written. For those looking to be discovered by publishers, they can set their work to be accessible only to verified literary agent or publisher profiles. For contract workers looking to keep their portfolio in a single place with limited access, access to their work can be granted or revoked on an individual basis. Of course, not everyone needs this kind of limited exposure, so Penfolio also supports more traditional social media access models such as public or friend access.</p>
            <p>All of these options are available on an individual basis for every single profile a user makes or piece of writing they post. It&#39s extremely customizable for whatever users want to make their Penfolio experience. They can even set their content up so that a preview of it is visible in a search or while browsing the site but it requires an access request to view in full.</p>
        </li>
        <li>
            A rich text editor that allows users to display their writing however they want.
            <p>Some writing needs to be displayed a specific way. For example, a shape poem is a poem that is in the shape of the item it describes. Shape poetry falls under the umbrella of concrete poetry, a type of poetry where the way it is displayed is part of the work itself. Other types of writing have strict stylistic standards. Scripts are all written in the Courier or Courier New fonts. That&#39s why Penfolio uses <a href="https://quilljs.com">Quill</a>, a highly customizable open source rich text editor with modular architecture and an expressive API.</p>
        </li>
        <li>
            Flexible features for defining your writing.
            <p>In addition to all of the previously mentioned items, Penfolio also has a large amount of format and genre tags as part of its database. These can all be used to tag a particular piece of writing so that people interested in exploring scripts or westerns or romance novels can find your writing more easily among the crowd. Writers can also attribute a piece of writing to multiple of their writing profiles.</p>
        </li>
        <li>
            Room to grow.
            <p>As a team of one, I can&#39t always put together all of the features that I would like to. However, I am aspirational, and I believe it&#39s important to put in architecture for things you may not have time to implement yet. For this reason, there is database architecture for possible future features such as the ability to connect pieces of writing through the creation of series, folders to organize writing in, adding collaborators to piece of writing, requesting and giving critique, and old social media stand-bys such as likes, comments, and followers.</p>
        </li>
    </ul>
</div>

<h2>Accessing Penfolio for Yourself</h2>
<p>If you are a potential employer looking to try Penfolio out for yourself, welcome! You can, of course, create an account of your own and post profiles and writings, but if you would like to play with the example data that is already in the database, here are some accounts you can use to do so. All of the accounts share the same password: "CorrectStapleBatteryHorse"</p>
<p>
    <ul>
        <li>Username: CharlesDickens
            <ul>
                <li>CharlesDickens has two profiles, a publisher profile (Charles Dickens) and a writer profile (also Charles Dickens.)</li>
                <li>Charles Dickens represents Elizabeth Gaskell in a publisher capacity as the owner of a magazine that published multiple stories for her.</li>
            </ul>
        </li>
        <li>
            Username: MrsGaskell
            <ul>
                <li>MrsGaskell has three different writer profiles to represent the various names she was credited under: Elizabeth Gaskell, Mrs Gaskell, and Elizabeth Cleghorn Gaskell.</li>
                <li>Elizabeth Gaskell is friends with Charlotte Brontë.</li>
            </ul>
        </li>
        <li>Username: WindsweptMoors
            <ul>
                <li>WindsweptMoors is the author Charlotte Brontë, who has two writer profiles, Charlotte Brontë and Currer Bell.</li>
                <li>As mentioned previously, Charlotte Brontë is friends with Elizabeth Gaskell.</li>
                <li>Charlotte Brontë does not have a formal relationship with Charles Dickens, but he has been blocked from accessing some of her writing and given individual access grants for some other pieces.</li>
            </ul>
        </li>
    </ul>
</p>

<h2>Finding Me on the Internet</h2>
<p>If you are interested in finding out more about Penfolio&#39s humble creator, I can be found several places online. If you would like to contact me directly, you can do so at mccalawa@gmail.com.</p>
<ul>
    <li><a href="https://github.com/mcalawa">My GitHub account</a></li>
    <li><a href="https://www.linkedin.com/in/melissa-calawa-25ba5913a/">My LinkedIn account</a></li>
</ul>