html, body {
    padding: 0;
    margin: 0;
    background-image: url("../images/penfoliobackground.png");
    background-repeat: repeat;
    height: 100%;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.rightSideBar {
    background-image: url(../images/leftdivbackground.png), url("../images/rightdivbackround.png");
    background-repeat: repeat-y, repeat-y;
    background-position-x: left, right;
    width: 100%;
    padding: 0;
    margin: 0;
    margin-top: -73px;
    min-height: 100%;
    height: auto !important;
    height: 100%;
}

.body-content, .container {
    padding: 15px 90px 15px 90px;
}

.body-content {
    padding-top: 123px;
}

h2 {
    font-family: 'Homemade Apple', cursive;
    color: #4f4c4c;
    margin-bottom: 5px;
}

h3 {
    font-family: 'Love Ya Like A Sister', cursive;
    color: #3a3a3a;
    margin-top: 0;
}

h4 {
    font-family: 'La Belle Aurore', cursive;
}

a {
    color: #6080c2;
}

a:hover, a:focus {
    color: #2c519d;
    text-decoration: none;
    text-shadow: 0 0 1px #6080c2;
}

#content {
    background-color: #fff;
    border: 1px solid #ccc;
}

.right-align {
    float: right;
}

.profileList { 
    display: inline-block;
}

.profileList li {
    float: left;
    padding-right: 5px;
}

.clear-right {
    clear: right;
}

/*Bootstrap stuff*/

.manageNavLink {
    background: 0 0;
    border: 0;
    border-radius: 0.25rem;
}

.manageNavLink:focus, .manageNavLink:hover {
    color: #2c519d;
    text-decoration: none;
    text-shadow: 0 0 1px #6080c2;
}

.manageNavLink.active:focus, .manageNavLink.active:hover {
    color: #fff;
    text-shadow: none;
}

.nav-pills .manageNavLink.active {
    color: #fff;
    background-color: #cf909b;
}

/*Styling for forms*/
button {
    background-color: #f5ebf0;
    border: 2px outset #efd3dd;
    transition: 1s;
}

button:hover, button:focus {
    background-color: #efd3dd;
    border: 2px outset #cf909b;
}

button:disabled, button:disabled:hover, button:disabled:focus {
    background-color: #f5ebf0;
    border: 2px outset #efd3dd;
    opacity: 0.6;
    cursor: not-allowed;
}

.logoutButton {
    background-color: transparent;
    border: none;
    color: #6080c2;
}

.logoutButton:hover, .logoutButton:focus {
    color: #2c519d;
    text-decoration: none;
    text-shadow: 0 0 1px #6080c2;
    border: none;
    background-color: transparent;
}

.dangerButton {
    background-color: #e53443;
    border: 3px outset #bb2d3b;
    color: #fff;
    transition: 1s;
    font-weight: 500;
    width: 75%;
    text-decoration: none;
}

.dangerButton:hover, .dangerButton:focus {
    background-color: #bb2d3b;
    border: 3px outset #9b1d28;
    color: #fff;
    font-weight: 500;
    width: 75%;
    text-decoration: none;
}

.dangerButton:disabled, .dangerButton:disabled:hover, .dangerButton:disabled:focus {
    background-color: #bb2d3b;
    border: 2px outset #9b1d28;
    color: #fff;
    opacity: 0.6;
    cursor: not-allowed;
    width: 75%;
}

.linkAsButton {
    padding: 4px;
}

.centerItem {
    margin: auto;
    display: block;
}

input[type=submit] {
    background-color: #f5ebf0;
    border: 2px outset #efd3dd;
    transition: 1s;
}

input[type=submit]:hover, input[type=submit]:focus  {
    background-color: #efd3dd;
    border: 2px outset #cf909b;
}

input[type=submit]:disabled, input[type=submit]:disabled:hover, input[type=submit]:disabled:focus {
    background-color: #f5ebf0;
    border: 2px solid #efd3dd;
    opacity: 0.6;
    cursor: not-allowed;
}

input[type=checkbox] {
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: #fff;
    width: 1em;
    height: 1em;
    border: 1px solid #787373;
    border-radius: 0.15em;
    place-content: center;
    display: inline-grid;
}

input[type=checkbox]:hover {
    background-color: #eee;
}

input[type=checkbox]::before {
    content: "";
    width: 1em;
    height: 1em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em #fff;
    background-color: #fff;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type=checkbox]:checked {
    content: "";
    width: 1em;
    height: 1em;
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em #4f4c4c;
    background-color: #4f4c4c;
    border: 1px solid #4f4c4c;
}

input[type=checkbox]:checked::before {
    transform: scale(0.65);
}

input[type=radio] {
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    width: 1em;
    height: 1em;
    border: 1px solid #787373;
    border-radius: 50%;
    place-content: center;
    display: inline-grid;
}

input[type=radio]:hover {
    background-color: #eee;
}

input[type=radio]::before {
    content: "";
    width: 1em;
    height: 1em;
    transform: scale(0);
    box-shadow: inset 1em 1em #4f4c4c;
    border-radius: 50%;
    background-color: #4f4c4c;
    place-content: center;
}

input[type=radio]:checked {
    content: "";
    width: 1em;
    height: 1em;
    box-shadow: inset 1em 1em #fff;
    background-color: #fff;
    border: 1px solid #4f4c4c;
}

input[type=radio]:checked::before {
    transform: scale(0.65);
}

.inputGroup {
    min-height: 575px;
}

input, textarea {
    border: 1px solid;
    border-color:  #ccc;
}

.formLabel {
    display: block;
}

.formInput {
    width: 100%;
}

select {
    border: 1px solid #ccc;
    width: 100%;
    background-color: #fff;
    border-radius: 0;
}

/*select {
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    outline: none;
}

select::-ms-expand {
    display: none;
}

.formSelect {
    width: 100%;
    min-width: 15ch;
    max-width: 30ch;
    border: 1px solid #ccc;
    padding: 0.25em 0.5em;
    font-size: 1rem;
    cursor: pointer;
    line-height: 1;
    background-color: #fff;
    display: grid;
    grid-template-areas: "select";
    align-items: center;
    position: relative;
}

select, .formSelect:after {
    grid-area: select;
}

.formSelect::after {
    content: "";
    width: 0.8em;
    height: 0.5em;
    background-color: #787373;
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
    justify-self: end;
}

select:focus + .focus {
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    border: 2px solid #ccc;
}

option {
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    outline: none;
}

.formOption {
    width: 100%;
    min-width: 15ch;
    max-width: 30ch;
    border: 1px solid: #ccc;
    padding: 0.25em 0.5em;
    font-size: 1rem;
    cursor: pointer;
    line-height: 1;
    background-color: #fff;
    display: grid;
    grid-template-areas: "option";
    align-items: center;
    position: relative;
}

option, .formOption:after {
    grid-area: option;
}

.formOption:hover {
    background-color: #ccc;
}

.formSelect {
    position: relative;
    font: inherit;
}

.formOption {
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    font: inherit;
    border: 1px solid #ccc;
    width: 100%;
    border-radius: 0;
    display: inline-grid;
}

.formOption:hover {
    background-color: #ccc;
}*/

.formItem {
    margin-bottom: 5px;
    min-width: 300px;
    overflow: auto;
}

.checkItem {
    margin-right: 15px;
    white-space: nowrap;
}

.checkItem2 {
    margin-right: 15px;
    white-space: normal;
}

.buttonGroup {
    min-height: 60px;
    align-content: baseline;
    margin-top: 1em;
}

.fileUpload {
    display: block;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    width: 100%;
}

input[type=file]::file-selector-button {
    border-radius: 0;
    background-color: #f5ebf0;
    border: 2px outset #efd3dd;
    transition: 1s;
}

input[type=file]::file-selector-button:hover, input[type=file]::file-selector-button:focus {
    background-color: #efd3dd;
    border: 2px outset #cf909b;
}

input[type=file]::file-selector-button:hover {
    cursor: pointer;
}

.formInput:disabled {
    background-color: #eee;
}

/*Styling for the writingPreview*/
.writingPreview {
    background-color: #fff;
    margin-top: 2em; 
    margin-bottom: 2em; 
    padding: 10px; 
    border-radius: 10px;
    box-shadow: 1px 1px 5px #d48383, -1px -1px 5px #d48383;
    text-align: center; 
    overflow: auto; 
}

.addDateTime {
    text-align: right; 
}

.writingDescription {
    background-image: url("../images/penfoliobackground.png");
    box-shadow: 0 0 3px #cf909b;
    padding: 10px 10px 5px 10px; 
    margin: 0 10% 1em 10%; 
}

.descriptionText {
    align-self: center; 
    overflow: hidden; 
    display: inline-block; 
}

.descriptionText p {
    text-align: justify; 
}

.tagScroller {
    overflow: hidden !important; 
}

.scrollArrow {
    background-color: #d48383;
    border: none;
    display: block; 
    padding: 4px 0 4px 0; 
    font-size: 18.3333px; 
    border: none; 
    color:  #efb0ad;
}

.scrollArrow:hover, .scrollArrow:focus {
    background-color: #d48383;
    color: #efb0ad;
    border: none;
}

.scrollLeft {
    float: left;
    padding-right: 2px; 
    padding-left: 2px;
    border: none;
}

.scrollRight {
    float: right; 
    padding-left: 2px; 
    border: none;
}

.tagScrollbar {
    background-color: #f2d8d6;
    padding: 6px 3px 6.5px 3px; 
    overflow-x: scroll !important; 
    overflow-y: hidden !important; 
    margin-right: 18px; 
    margin-left: 18px; 
    margin-bottom: -19px; 
    white-space: nowrap;
}

.scrollbarTag {
    background-color: #fcfcfc;
    padding: 2px 4px 2px 6px; 
    box-shadow: 0 0 2px #cf909b;
    border-radius: 3px;
    margin: 0 5px 0 5px; 
}

.displayDocument {
    border: 1px solid #ccc;
    padding: 5px;
    margin: 0 10% 1em 10%;
}

/*Styling for view components in writing create and edit*/
.profileSelector {
    min-height: 84px;
}

.description {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
}

#accessContainer {
    margin-bottom: 40px;
}

.confirm {
    font-weight: bold;
}

#confirmDescription {
    border: 1px solid #ccc;
    display: block;
    padding: 10px;
    background-color: #fff;
}

#confirmText {
    border: 1px solid #ccc;
    background-color: #fff;
}

.fictionOrNonfiction {
    margin-bottom: 1em;
}

/*Notifications*/
.notificationCount {
    position: absolute;
    top: -4px;
    left: 12px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 5px;
    font-weight: 400;
}