/* Styling for the writingPreview */
.writingPreview {
    margin-top: 2em; /*can be changed*/
    margin-bottom: 2em; /*can be changed*/
    padding: 10px; /*can be changed*/
    text-align: center; /*required*/
    overflow: auto; /*required*/
}

.addDateTime {
    text-align: right; /*required*/
}

.writingDescription {
    padding: 5px; /*can be changed*/
    margin: 0 10% 1em 10%; /*can be changed*/
}

.descriptionText {
    align-self: center; /*required*/
    overflow: hidden; /*required*/
    display: inline-block; /*required*/
}

    .descriptionText p {
        text-align: justify; /*required*/
    }

.tagScroller {
    overflow: hidden; /*required*/
}

.scrollArrow {
    display: block; /*required*/
    padding: 0; /*can be changed but may require some changing of other values in order to still be the same height as the tagScroller*/
    font-size: 18.3333px; /*can be changed but may require some changing of other values in order to still be the same height as the tagScroller*/
    border: none; /*if you want to add a border, you will have to decrease the top and bottom padding by the same amount as the border thickness*/
}

.scrollLeft {
    float: left; /*required*/
    padding-right: 2px; /*can change*/
}

.scrollRight {
    float: right; /*required*/
    padding-left: 2px; /*can change*/
}

.tagScrollbar {
    background-color: #ccc;
    padding: 2.5px 3px 2.5px 3px; /*can be changed but may require some changing of other values in order to still be the same height as the buttons*/
    overflow-x: scroll; /*required*/
    overflow-y: hidden; /*required*/
    margin-right: 18px; /*needs to be at least as many pixels as the width of the button*/
    margin-left: 18px; /*needs to be at least as many pixels as the width of the button*/
    margin-bottom: -17px; /*required*/
    white-space: pre; /*required*/
}

.scrollbarTag {
    padding: 3px 4px 3px 4px; /*can be changed*/
    margin: 0 5px 0 5px; /*can be changed, but it's the only thing creating spacing between the tags*/
}
