@model IEnumerable<Penfolio2.Models.NotificationViewModel>

@{
    int count = Model.Count();
}

<div id="notifications">
    @if(count == 0)
    {
        <i class="fas fa-envelope"></i>
    }
    else
    {
        <i class="fas fa-envelope-open"></i>
    }
</div>