@model Penfolio2.Models.Writing
@{
}

@if (ViewBag.Author)
{
    <span class="forUserWriting"><a href="/Writing/Edit/@Model.WritingId">Edit</a> | <a href="/Writing/Delete/@Model.WritingId">Delete</a></span>
}
<h2>@Model.Title</h2>
@await Component.InvokeAsync("Writing", new { viewName = "Author", id = Model.WritingId })

<div id="content" class="ql-editor">@Html.Raw(ViewBag.Document)</div>

@Html.ActionLink("Back to List", "Index")